body {
    margin: 0;
    font-family: Arial;
    background: #0f0f0f;
    color: white;
}

header {
    background: #202020;
    padding: 15px;
    text-align: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card {
    background: #181818;
    padding: 10px;
    border-radius: 10px;
}

video {
    width: 100%;
    border-radius: 10px;
}